<h1>트윗 수정하는 곳</h1>
<%= form_tag("/tweet/#{@board.id}/update") do %>
    <%= text_area_tag(:contents,"#{@board.contents}",class: "form-control")%><br>
    <%= submit_tag "수정하기",class: "btn btn-success"%>
<% end %>