<h1>상세보기</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= @ask2.question%></li>
  </ol>
</nav>
<br>
<a class="btn btn-primary" href="/ask2" >전체 질문</a>